/* App 전체 배경 및 텍스트 색상 조정 */
body {
  background-color: #000; /* 배경을 검은색으로 설정 */
  color: #b5a642; /* 골드 색상의 텍스트 */
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.store-container {
  max-width: 1400px;
  margin-top: 0; /* 상단 마진 제거 */
  padding-top: 0; /* 상단 패딩 제거 */
  padding: 0px 20px 20px; /* 상단 패딩 제거 후, 우, 하, 좌 패딩 유지 */
}

.My-Point {
  background-color: #333;
  color: #ffd700;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(255, 215, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.icon-item {
  background-color: #222;
  color: #ffd700;
  padding: 15px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  min-height: 250px;
  width: calc((100% - 60px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative; /* 오버레이를 위한 상대 위치 설정 */
}

.StoreAdminBtn, .button-buy {
  background-color: #b5a642;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.StoreAdminBtn:hover, .button-buy:hover {
  background-color: #d4af37;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255, 215, 0, 0.4);
}

.icon-shop-banner {
  background-color: #222;
  color: #ffd700;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 0px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.2);
  width: 100%;
}

.icon-shop-banner p {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.icon-cover img {
  width: 100%; /* 컨테이너 너비에 맞게 조정 */
  height: 100%; /* 컨테이너 높이에 맞게 조정 */
  object-fit: cover; /* 이미지가 컨테이너를 꽉 채우도록 조정하면서 비율을 유지 */
  border-radius: 0px; /* 이미지 모서리를 둥글게 처리 */

}

.icon-name-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  color: #fff;
  display: flex;
  flex-direction: column; /* 세로 방향으로 내용을 정렬 */
  justify-content: center;
  align-items: center; /* 가운데 정렬 */
  opacity: 0; /* 처음에는 투명하게 */
  transition: opacity 1.0s ease; /* 서서히 나타나도록 설정 */
  gap: 10px; /* 요소 사이의 간격 */
}

.icon-item:hover .icon-name-overlay {
  opacity: 1; /* 마우스를 올리면 불투명하게 */
}